.container{
    display: flex;
    width: 100%;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-around;
    flex-flow: row;
}
.container-2 img{
   height: 3px;
   width: 3px;
}
.container-3 img{
    width: 30px;
  height: 30px;
  margin: 0 5px;
}
.container-1 img{
    height: 100px;
    width: 120px;
    justify-content: space-around;
    display: grid;
}

.container-2 p{
    font-weight: bold;
}
.container-3 p{
    font-weight: bold;
    font-size: 0.7em;
}
.container-1{
    font-weight: bold;
    display: inline-block;
}
span {
    color:black;     
}
