<div class="container">
  <div class="container-1">
    <img src="assets/car-logo.png" alt="logo" />
    <p>FOR SUPPORT MAIL US: carshowroom.com</p>
  </div>
  <div class="container-2">
    <p>
      SERVICE HELPLINE CALL US: <span>+254702-457-558</span>
      <img src="assets/phone.png" alt="phone" />
    </p>
  </div>
  <div class="container-3">
    <img src="assets/fb.png" alt="fb" />
    <img src="assets/ig.png" alt="ig" />
    <img src="assets/linkedin.png" alt="linkedin" />
    <img src="assets/x.png" alt="twitter" />
  </div>
  <div>
    <button class="w3-btn w3-black">Login/Signup</button>
  </div>
</div>
