.container{
    display: flex;
    width: 100%;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-around;
    flex-flow: row;
}
.container-2 img{
   height: auto;
   width: 30px;
}
.container-3 img{
    height: auto;
    width: 40px;
}
.container-1 img{
    height: auto;
    width: 20px;
}
.container img{
    height: 40px;
    width: 60px;
    justify-content: space-between;
}
.button{
    border-radius: 12px;
}


